@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eina02-Regular";
  src: url("../public/fonts/eina/Eina02-Regular.ttf");
  font-family: "Eina02-Semibold";
  src: url("../public/fonts/eina/Eina02-SemiBold.ttf");
  font-family: "Eina01-Regular";
  src: url("../public/fonts/eina/Eina02-Regular.ttf");
}
